<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header{
            background-color: rgb(145, 53, 232);
            display: flex;
            justify-content:space-between;
            align-items:center;
            padding: 0 2rem;
        }
        h1{
            color:white;
        }
        nav a{
        color: white;
        text-decoration: none;
        cursor: pointer;

        }
    </style>
</head>
<body>
    <header>
        <h1>To Do List</h1>
        <nav>
            
            <a href="/createlist">Create List</a>
        </nav>
    </header>
    <main>
<h1>Simple To Do List</h1>
    </main>
</body>
</html>